:root {
  --blue-primary: #272C3A;
  --green-nike:  #CBD95F;
  --blue-aqua: #11AEBF;
}

html {
  background-color: var(--blue-primary);
}

.img_header {
  width: 400px;
  display: block;
  margin: auto;
}